<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
</head>

<body>
    <div id="container">
        <aside> aside
        </aside>
        <section>

            <h1>This is section</h1>
            <p>hello this is para</p>
            <p>
            #{content}
            </p>
        </section>
    </div>
</body>

</html>