doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
      ul 
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Contact us]
    section#sectionintro
      | section for picture
    section#sectionsponsor
      | section for sponsor
    script
      include ../static/index.js 
