#navbar{
    background-color: antiquewhite;
    padding: 5px;
    
}
#navbar ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}
#navbar ul li a{
    padding: 10px 15px;
    font-size: 1.3rem;

}






